<h1>You've signed up to be a new user!</h1>

<div>
  <%= @greeting %>
</div>

<div>
  <p>You signed up with the email address: <%= @user.email %>.</p>
  <p>Here are some words that are the body of this email message.</p>
<div>
