.Alarm {
  margin: 1rem auto;
}

.Alarm--going-off {
  background-color: var(--hot-pink);
  color: white;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem auto;
  max-width: 400px;
}
