<table>
<thead>
<tr>
<th>Student</th>
<th>Assignment</th>
<th>Score</th>
</tr>
</thead>
<tbody>
<% @grades.each do |grade| %>
<tr>
<td><%= grade.student.name %></td>
<td><%= grade.assignment.title %></td>
<td><%= grade.score %></td>
</tr>
<% end %>
</tbody>
</table>
